<div
        class="bundle-widget-container"
        {{ block.shopify_attributes }}
        data-product-id="{{ product.id | prepend: 'gid://shopify/Product/' }}"
        data-layout="{{ block.settings.layout }}"
        data-show-savings="{{ block.settings.show_savings }}"
        data-show-images="{{ block.settings.show_product_images }}"
>
    <div id="bundle-widget-{{ block.id }}" class="bundle-widget-content" data-block-widget={{ block.id }}>
        <div class="bundle-loading">
            <div class="bundle-spinner"></div>
            <p>{{ block.settings.loading_text | default: "Loading bundles..." }}</p>
        </div>
    </div>
</div>

{{ 'bundle-widget.css' | asset_url | stylesheet_tag }}
{{ 'bundle-widget.js' | asset_url | script_tag }}

{% schema %}
{
	"name": "Product Bundle Widget",
	"target": "section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Bundle Offers"
		}
	]
}
{% endschema %}